{% extends "base.html" %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">Flask</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
            </li>
          </ul>
        </div>
      </div>
{% endblock %}

{% block main %}
    <body>
        <div class="body-container">
            <h1>Contact Form</h1>
            <hr/>
            <p class="instructions">Fill in this form to contact the site owners.</p>
            <div class="form-container">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}

                    <div class="form-section">
                        <div>{{ form.name.label }} <p class="required">(Required)</p></div>
                        <p>Please enter your full name</p>
                        {{ form.name(size=30) }}
                        {% if form.name.errors %}
                            {% for error in form.name.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-section">
                        <div>{{ form.email.label }} <p class="required">(Required)</p></div>
                        <p>Please enter your email address</p>
                        {{ form.email(size=30) }}
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-section">
                        <div>{{ form.subject.label }} <p class="required">(Required)</p></div>
                        <p>Please enter the subject for your message.</p>
                        {{ form.subject(size=70) }}
                        {% if form.subject.errors %}
                            {% for error in form.subject.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    
                    <div class="form-section">
                        <div>{{ form.message.label }} <p class="required">(Required)</p></div>
                        <p>Please enter the message you would like to send.</p>
                        {{ form.message(size=998) }}
                        {% if form.message.errors %}
                            {% for error in form.message.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    
                    <div class="btn-container">
                        {{ form.submit() }}
                    </div>
                </form>
            </div>
        </div>      
    </body>
{% endblock %}